<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Mettre à jour un membre</title>
</head>
<body>
  <h2>Mettre à jour le membre : {{member.first_name }} {{ member.last_name }}</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enregistrer les modifications</button>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

  <a href="{% url 'members_list' %}">Retour à la liste</a>
</body>
</html>